@tailwind base;
@tailwind components;
@tailwind utilities;

.bitoc-ml-1.active,.bitoc-ml-1:hover{
    color: rgb(239 68 68) !important;
    font-weight: 600;
}
.bitoc-ml-2.active,.bitoc-ml-2:hover{
    color: rgb(239 68 68) !important;
    font-weight: 600;
}
.bitoc-ml-3.active,.bitoc-ml-3:hover{
    color: rgb(239 68 68) !important;
    font-weight: 600;
}
.bitoc-ml-4.active,.bitoc-ml-4:hover{
    color: rgb(239 68 68) !important;
    font-weight: 600;
}
.bitoc-ml-5.active,.bitoc-ml-5:hover{
    color: rgb(239 68 68) !important;
    font-weight: 600;
}
.bitoc-ml-6.active,.bitoc-ml-6:hover{
    color: rgb(239 68 68) !important;
    font-weight: 600;
}

.bitoc-ml-1::before{
    width: 0 !important;
    height: 0 !important;
}
.bitoc-ml-2::before{
    width: 0 !important;
    height: 0 !important;
}
.bitoc-ml-3::before{
    width: 0 !important;
    height: 0 !important;
}
.bitoc-ml-4::before{
    width: 0 !important;
    height: 0 !important;
}
.bitoc-ml-5::before{
    width: 0 !important;
    height: 0 !important;
}
.bitoc-ml-6::before{
    width: 0 !important;
    height: 0 !important;
}