@tailwind base;
@tailwind components;
@tailwind utilities;


.bitoc-ml-1,
.bitoc-ml-2,
.bitoc-ml-3,
.bitoc-ml-4,
.bitoc-ml-5,
.bitoc-ml-6{
    line-height: 1.5rem;
}

.bitoc-ml-1.active,.bitoc-ml-1:hover,
.bitoc-ml-2.active,.bitoc-ml-2:hover,
.bitoc-ml-3.active,.bitoc-ml-3:hover,
.bitoc-ml-4.active,.bitoc-ml-4:hover,
.bitoc-ml-5.active,.bitoc-ml-5:hover,
.bitoc-ml-6.active,.bitoc-ml-6:hover{
    color: rgb(239 68 68) !important;
    font-weight: 600;
}


.bitoc-ml-1::before,.bitoc-ml-5::before,.bitoc-ml-6::before,.bitoc-ml-4::before,.bitoc-ml-3::before,.bitoc-ml-2::before{
    width: 0 !important;
    height: 0 !important;
}
